/*
Raleway 700 normal
Roboto 400 normal
Roboto 500 normal
Roboto 700 normal
Roboto 900 normal
*/
:root {
        /*header-section-variables*/
        --body-background: #ffffff;
        --logo-part-web-color: #2196f3;
        --full-logo-color: #212121;
        --nav-link-color: #212121;
        --header-contacts-color: #757575;
        /*body-section-overal-variables*/
        --hover-focus-now-on-only-color: #2196f3; /*same-for-all-elements*/
        --hover-color: #2196f3; /*same-for-all-elements*/
        --focus-color: #2196f3; /*same-for-all-elements*/
        --now-on-color: #2196f3;
        --body-main-text-color: #757575;
        /*hero-section-variables*/
        --hero-section-background: #2f303a;
        --hero-title-color: #ffffff;
        /*main-section-variables*/
        --our-goals-section-background-color: #e5e5e5;
        --what-we-are-doing-h2-text-color: #212121;
        --our-team-background-color: #f5f4fa;
        --our-team-h2-h3-color: #212121;
        --our-team-p-text-color: #757575;
        --portfolio-background-color: #e5e5e5;
        /*footer-section-variables*/
        --full-logo-footer-color: #ffffff;
        --footer-section-background-color: #2f303a;
        --footer-text-color: #ffffff;
        --footer-call-link-color: rgba(255, 255, 255, 0.6);
        /*portfolio-section-variables*/
        --portfolio-button-text-color: #212121;
        --portfolio-h3-text-color: #212121;
        --portfolio-p-text-color: #757575;
}

/*body-overal-styles*/
body {
        background-color: var(--body-background);
        color: var(--body-main-text-color);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
}
a {
        text-decoration: none;
}
ul {
        list-style-type: none;
}
.button {
        cursor: pointer;
}

/*header-styles*/

/*logo-styles-section*/
.logo-part-web {
        color: var(--logo-part-web-color);
}
.full-logo {
        color: var(--full-logo-color);
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        text-align: left;
}
/*logo-styles-section*/

/*section-of-navigation-styles*/
.nav-link {
        color: var(--nav-link-color);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
}
.nav-link:hover,
.nav-link:focus {
        color: var(--hover-focus-now-on-only-color);
}

/*section-of-navigation-styles*/

/*section-of-navigation-styles*/
.header-contacts a {
        color: var(--header-contacts-color);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        text-decoration: none;
}
.header-contacts a:hover,
.header-contacts a:focus {
        color: var(--hover-focus-now-on-only-color);
}

/*makes link and button an active on needed page */
.now-on {
        color: var(--hover-focus-now-on-only-color);
}
/*makes link and button an active on needed page */

/*section-of-navigation-styles*/

/*
.nav-link, .header-contacts a {color: var(--nav-link-color); }
a[href="./index.html"]:hover, 
a[href="./portfolio.html"]:hover,
a[href="#contacts-footer"]:hover,
a[href="mailto:info@devstudio.com"]:hover,
a[href="tel:+380961111111"]:hover
{color: var(--hover-color);background-color: var(--hover-color);}

a[href="./index.html"]:focus, 
a[href="./portfolio.html"]:focus,
a[href="#contacts-footer"]:focus,
a[href="mailto:info@devstudio.com"]:focus,
a[href="tel:+380961111111"]:focus
 {color:var(--focus-color);}*/

/*hero-section*/
.hero-section {
        background-color: var(--hero-section-background);
        width: 1600px;
        height: 600px;
}
.hero-title {
        text-align: center;
        color: var(--hero-title-color);
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-decoration: none;
}

.hero-section button {
        color: var(--hero-title-color);
        background-color: var(--hover-focus-now-on-only-color);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
}

.hero-button {
        text-align: center;
}
.hero-button:focus,
.hero-button:hover {
        color: var(--hover-focus-now-on-only-color);
}
/*hero-section*/

/*our-goals-styling*/
/*hided-h2*/
.our-goals h2 {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
/*hided-h2*/

.our-goals {
        background-color: var(--our-goals-section-background-color);
}
.our-goals-section p {
        color: var(--nav-link-color);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.14;
}

.our-goals-section h3 {
        color: var(--nav-link-color);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}
/*our-goals-styling*/

/*what-we-are-doing-styling*/
.what-we-are-doing {
        text-align: center;
        color: var(--what-we-are-doing-h2-text-color);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-decoration: none;
}
/*what-we-are-doing-styling*/

/*our-team-styling*/
.our-team {
        background-color: var(--our-team-background-color);
}
.our-team h2 {
        color: var(--our-team-h2-h3-color);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}

.our-team h3 {
        color: var(--our-team-h2-h3-color);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
}

.our-team p {
        color: var(--our-team-p-text-color);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
}
/*our-team-styling*/

/*footer-section-styling*/
/*logo-footer-styles*/
.logo-part-web {
        color: var(--logo-part-web-color);
}
.full-logo-footer {
        color: var(--full-logo-footer-color);
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        text-align: left;
}
/*logo-footer-styles*/

.footer-section {
        background-color: var(--footer-section-background-color);
        width: 1600px;
        height: 252px;
}

.direction-link {
        color: var(--footer-text-color);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
}

.mail-link,
.call-link {
        color: var(--footer-call-link-color);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
}
.footer-adress-list a:hover,
.footer-adress-list a:focus {
        color: var(--hover-focus-now-on-only-color);
}
/*footer-section-styling*/

/*portfolio-main-section-styling*/
/*hided-h2*/
.portfolio h2 {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
/*hided-h2*/

.portfolio .button:hover,
.portrfolio .button:hover {
        color: var(--hover-focus-now-on-only-color);
}

.portfolio .button {
        color: var(--portfolio-button-text-color);
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        font-style: normal;
}
/*makes link and button an active on needed page */
.portfolio .now-on {
        color: var(--hover-focus-now-on-only-color);
}
/*makes link and button an active on needed page */

.portfolio h3 {
        color: var(--portfolio-h3-text-color);
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
}

.portfolio p {
        color: var(--portfolio-p-text-color);
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
}
/*portfolio-main-section-styling*/
